.input-box {
  margin-bottom: 20px;
}
.input-box input {
  border: 1px black solid;
  margin-right: 20px;
  height: 2em;
  line-height: 2em;
}

#todo-container {
  width: 50vw;
  border: 2px solid blue;
  min-height: 200px;
}

.item {
  background-color: lightgoldenrodyellow;
  margin: 10px;
}

.done {
  text-decoration: line-through;
}
